<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Kid Learning</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
	<link href="assets/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="assets/css/core.css" rel="stylesheet" type="text/css">
	<link href="assets/css/components.css" rel="stylesheet" type="text/css">
	<link href="assets/css/colors.css" rel="stylesheet" type="text/css">
	<link rel="icon" href="http://findicons.com/files/icons/1508/sketchcons_x/128/globe.png" type="image/x-icon"/>
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script type="text/javascript" src="assets/js/plugins/loaders/pace.min.js"></script>
	<script type="text/javascript" src="assets/js/core/libraries/jquery.min.js"></script>
	<script type="text/javascript" src="assets/js/core/libraries/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/loaders/blockui.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/forms/validation/validate.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script type="text/javascript" src="assets/js/core/app.js"></script>
	<!-- /theme JS files -->

</head>

<body class="login-container"  background="assets/images/halong_bg.jpg">

	<!-- Main navbar -->
	<div class="navbar navbar-inverse">
		<div class="navbar-header">
			<a class="navbar-brand" href="/dangnhap"><img src="assets/images/logoo.png" alt=""></a>

			<ul class="nav navbar-nav pull-right visible-xs-block">
				<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
			</ul>
		</div>

		<div class="navbar-collapse collapse" id="navbar-mobile">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="https://www.facebook.com/kid.learning.hcmus" target="_blank">
						<i class="icon-facebook2"></i> <span class="visible-xs-inline-block position-right"> Trang facebook</span>
					</a>
				</li>
				<li>
					<a data-popup="tooltip" data-toggle="modal" data-target="#confirm">
						<i class="icon-user-tie"></i> <span class="visible-xs-inline-block position-right"> Liên hệ admin</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- /main navbar -->


	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Content area -->
				<div class="content">
					<!-- Password recovery -->
					<form id="login_form">
						<div class="panel panel-body login-form">
							<div class="text-center">
								<div class="icon-object border-warning text-warning"><i class="icon-spinner11"></i></div>
								<h5 class="content-group">Lấy lại mật khẩu<small class="display-block">Điền thông tin tài khoản của bạn</small></h5>
							</div>

							<div class="form-group has-feedback">
								<input id="username" name="username" type="text" class="form-control" placeholder="Tên đăng nhập của bạn">
								<div class="form-control-feedback">
									<i class="icon-user text-muted"></i>
								</div>
							</div>
							<div class="form-group has-feedback">
								<input id="email" name="email" type="email" class="form-control" placeholder="Email của bạn">
								<div class="form-control-feedback">
									<i class="icon-mail5 text-muted"></i>
								</div>
							</div>

							<button type="submit" class="btn bg-blue btn-block">Lấy lại mật khẩu <i class="icon-arrow-right14 position-right"></i></button>
						</div>
					</form>
					<!-- /password recovery -->

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->
		<!-- {/* confirm */} -->
	<div id="confirm" class="modal fade">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close " data-dismiss="modal">&times;</button>
					<h6 class="modal-title">Liên hệ với chúng tôi</h6>
				</div>

				<div class="modal-body">
					<div  class="panel-body">
						<div class="row">
							<div class="col-lg-6">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3771.5589691242003!2d106.68039831027157!3d10.763143934428191!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x43900f1d4539a3d!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBLaG9hIGjhu41jIFThu7Egbmhpw6puIFRQSENN!5e0!3m2!1svi!2s!4v1498100090396" width="400" height="400" frameBorder="0" style={{border:"0"}} allowFullScreen></iframe>
							</div>
							<div class="col-lg-6">
								<div class="media-body">
									<h6 class="media-heading"><a href="http://www.hcmus.edu.vn" target="_blank">Trường Đại Học Khoa Học Tự Nhiên Thành Phố Hồ Chí Minh</a></h6>
		                    		<br/>
		                    		<ul class="list-inline list-inline-separate mb-5">
		                    			<li><i class="icon-location4 position-left"></i> 227 Nguyễn Văn Cừ, Nguyễn Văn Cừ, Quận 5, Hồ Chí Minh, Việt Nam</li>
		                    			<li><i class="icon-mail5 position-left"></i> minhthien1995@gmail.com - thanhgiang.hcmus@gmail.com</li>
		                    			<li><i class="icon-phone2 position-left"></i> +84 167 965 1768 (Thiện) - +84 937 245 440 (Giang)</li>
		                    			<li><a href="https://www.facebook.com/kid.learning.hcmus" target="_blank"><i class=" icon-facebook2 position-left"></i> Fanpage Facebook</a></li>
		                    		</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- {/* /confirm */} -->
<script type="text/javascript" >
	$(document).ready(function(){
	    jQuery.validator.addMethod("noSpace", function(value, element) { 
	        return value.indexOf(" ") < 0 && value != ""; 
	    }, "No space please and don't leave it empty");
	    $("#login_form").validate({
	    	errorElement: 'div',
	        errorClass: 'help-block',
	        focusInvalid: false,
	        ignore: "",
	        rules: {
	            'username':{
	                required: true,
	                noSpace: true,
	                minlength: 2,
	                maxlength: 20   
	            },
	            'email': {
	                required: true,
	                email: true
	            }
	        },
	        messages: {
	            'username':{
	                required: "Xin điền tên đăng nhập",
	                noSpace: "Tên đăng nhập không thể có ký tự khoảng cách",
	                minlength: "Tên đăng nhập phải nhiều hơn 2 ký tự",
	                maxlength: "Tên đăng nhập phải ít hơn 20 ký tự"
	            },
	            'email': {
	                required: "Xin nhập địa chỉ email",
	                email: "Đây không phải là định dạng email"
	            }

	        },
	        highlight: function (e) {
	            $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
	        },

	        success: function (e) {
	            $(e).closest('.form-group').removeClass('has-error');//.addClass('has-info');
	            $(e).remove();
	        },
	        submitHandler: function (form) {
		        var data={
		        	username: $("#username").val(),
		        	email: $("#email").val()
		        };
		        console.log(data);
		        $.post("/laymatkhau",data,function(data){
		        	//console.log(data);
		        	if(data==false)
		        	{
		        		alert("Bạn đã nhập sai tên đăng nhập hoặc email.\nVui lòng thử lại!");
		        	}else{
			        	alert("Chúng tôi đã gửi thông tin mật khẩu vào email của bạn.\nVui lòng kiểm tra email và đăng nhập lại!");
			        	window.location = "/";
			        }
		        });

	        }
	    });

	});
</script>
</body>
</html>
