<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Kid Learning</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
	<link href="assets/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="assets/css/core.css" rel="stylesheet" type="text/css">
	<link href="assets/css/components.css" rel="stylesheet" type="text/css">
	<link href="assets/css/colors.css" rel="stylesheet" type="text/css">
	<link rel="icon" href="http://findicons.com/files/icons/1508/sketchcons_x/128/globe.png" type="image/x-icon"/>
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script type="text/javascript" src="assets/js/plugins/loaders/pace.min.js"></script>
	<script type="text/javascript" src="assets/js/core/libraries/jquery.min.js"></script>
	<script type="text/javascript" src="assets/js/core/libraries/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/loaders/blockui.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/forms/validation/validate.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script type="text/javascript" src="assets/js/plugins/forms/styling/uniform.min.js"></script>

	<script type="text/javascript" src="assets/js/core/app.js"></script>
	<script type="text/javascript" src="assets/js/pages/login.js"></script>
	<!-- /theme JS files -->

</head>

<body class="login-container"  background="assets/images/diali_bg.jpg">

	<!-- Main navbar -->
	<div class="navbar navbar-inverse">
		<div class="navbar-header">
			<a class="navbar-brand" href="/dangnhap"><img src="assets/images/logoo.png" alt=""></a>

			<ul class="nav navbar-nav pull-right visible-xs-block">
				<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
			</ul>
		</div>

		<div class="navbar-collapse collapse" id="navbar-mobile">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="https://www.facebook.com/kid.learning.hcmus" target="_blank">
						<i class="icon-facebook2"></i> <span class="visible-xs-inline-block position-right"> Trang facebook</span>
					</a>
				</li>
				<li>
					<a data-popup="tooltip" data-toggle="modal" data-target="#confirm">
						<i class="icon-user-tie"></i> <span class="visible-xs-inline-block position-right"> Liên hệ admin</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- /main navbar -->


	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Content area -->
				<div class="content">

					<!-- Registration form -->
					<form id="login_form" >
						<div class="row">
							<div class="col-lg-6 col-lg-offset-3">
								<div class="panel registration-form">
									<div class="panel-body">
										<div class="text-center">
											<div class="icon-object border-success text-success"><i class="icon-plus3"></i></div>
											<h5 class="content-group-lg">Đăng ký tài khoản<small class="display-block">Điền đầy đủ thông tin vào mẫu sau</small></h5>
										</div>

										<div class="form-group has-feedback">
											<label >Tên đăng nhập:</label>
											<input id="username" name="username" type="text" class="form-control" placeholder="Tên đăng nhập" required>
											<div class="form-control-feedback">
												<i class="icon-user-plus text-muted"></i>
											</div>

										</div>
										<div class="form-group has-feedback">
											<label>Tên đầy đủ:</label>
											<input id="fullname" name="fullname" type="text" class="form-control" placeholder="Tên dầy đủ" required>
											<div class="form-control-feedback">
												<i class="icon-user-check text-muted"></i>
											</div>

										</div>

										<div class="row">
											<div class="col-md-6">
												<label>Ngày sinh:</label>
												<div class="form-group has-feedback">
													<input id="birthday" name="birthday" type="date" class="form-control" placeholder="Ngày sinh của bạn" required>
													<div class="form-control-feedback">
														<i class="icon-calendar text-muted"></i>
													</div>
												</div>
											</div>

											<div class="col-md-6">
												<label>Địa chỉ email:</label>
												<div class="form-group has-feedback">
													<input id="email" name="email" type="email" class="form-control" placeholder="Email của bạn" required>
													<div class="form-control-feedback">
														<i class="icon-mention text-muted"></i>
													</div>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-6">
												<label>Trường:</label>
												<div class="form-group has-feedback">
													<input id="truong" name="truong" type="text" class="form-control" placeholder="Trường hiện tại của bạn" required>
													<div class="form-control-feedback">
														<i class="icon-office text-muted"></i>
													</div>
												</div>
											</div>

											<div class="col-md-6">
												<label>Lớp(6->9):</label>
												<div class="form-group has-feedback">
													<input id="lop" name="lop" type="number" class="form-control" placeholder="Cấp lớp bạn đang học" required>
													<div class="form-control-feedback">
														<i class="icon-pen2 text-muted"></i>
													</div>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-6">
												<label>Mật khẩu:</label>
												<div class="form-group has-feedback">
													<input id="password1" name="password1" type="password" class="form-control" placeholder="Mật khẩu mới" required>
													<div class="form-control-feedback">
														<i class="icon-lock text-muted"></i>
													</div>
												</div>
											</div>

											<div class="col-md-6">
												<label>Nhập lại mật khẩu:</label>
												<div class="form-group has-feedback">
													<input id="password2" name="password2" type="password" class="form-control" placeholder="Nhập lại mật khẩu" required>
													<div class="form-control-feedback">
														<i class="icon-lock text-muted"></i>
													</div>
												</div>
											</div>
										</div>

										<div class="text-right">
											<button type="submit" class="btn btn-link"><a href="dangnhap"><i class="icon-arrow-left13 position-left"></i> Quay lại trang đăng nhập</a></button>
											<button id="submit" type="submit" class="btn bg-teal-400 btn-labeled btn-labeled-right ml-10"><b><i class="icon-plus3"></i></b><a style="color: white"> Tạo tài khoản mới</a></button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
					<!-- /registration form -->

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->
		<!-- {/* confirm */} -->
	<div id="confirm" class="modal fade">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close " data-dismiss="modal">&times;</button>
					<h6 class="modal-title">Liên hệ với chúng tôi</h6>
				</div>

				<div class="modal-body">
					<div  class="panel-body">
						<div class="row">
							<div class="col-lg-6">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3771.5589691242003!2d106.68039831027157!3d10.763143934428191!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x43900f1d4539a3d!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBLaG9hIGjhu41jIFThu7Egbmhpw6puIFRQSENN!5e0!3m2!1svi!2s!4v1498100090396" width="400" height="400" frameBorder="0" style={{border:"0"}} allowFullScreen></iframe>
							</div>
							<div class="col-lg-6">
								<div class="media-body">
									<h6 class="media-heading"><a href="http://www.hcmus.edu.vn" target="_blank">Trường Đại Học Khoa Học Tự Nhiên Thành Phố Hồ Chí Minh</a></h6>
		                    		<br/>
		                    		<ul class="list-inline list-inline-separate mb-5">
		                    			<li><i class="icon-location4 position-left"></i> 227 Nguyễn Văn Cừ, Nguyễn Văn Cừ, Quận 5, Hồ Chí Minh, Việt Nam</li>
		                    			<li><i class="icon-mail5 position-left"></i> minhthien1995@gmail.com - thanhgiang.hcmus@gmail.com</li>
		                    			<li><i class="icon-phone2 position-left"></i> +84 167 965 1768 (Thiện) - +84 937 245 440 (Giang)</li>
		                    			<li><a href="https://www.facebook.com/kid.learning.hcmus" target="_blank"><i class=" icon-facebook2 position-left"></i> Fanpage Facebook</a></li>
		                    		</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- {/* /confirm */} -->
<script src="trangdangky.js"></script>
</body>
</html>
