<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Kid Learning</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
	<link href="assets/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="assets/css/core.css" rel="stylesheet" type="text/css">
	<link href="assets/css/components.css" rel="stylesheet" type="text/css">
	<link href="assets/css/colors.css" rel="stylesheet" type="text/css">
	<link rel="icon" href="http://findicons.com/files/icons/1508/sketchcons_x/128/globe.png" type="image/x-icon"/>
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script type="text/javascript" src="assets/js/plugins/loaders/pace.min.js"></script>
	<script type="text/javascript" src="assets/js/core/libraries/jquery.min.js"></script>
	<script type="text/javascript" src="assets/js/core/libraries/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/loaders/blockui.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script type="text/javascript" src="assets/js/plugins/forms/styling/uniform.min.js"></script>

	<script type="text/javascript" src="assets/js/core/app.js"></script>
	<script type="text/javascript" src="assets/js/pages/login.js"></script>
	<!-- /theme JS files -->

</head>

<body class="login-container" background="assets/images/lichsu_bg.jpg">

	<!-- Main navbar -->
	<div class="navbar navbar-inverse">
		<div class="navbar-header">
			<a class="navbar-brand" href="/dangnhap"><img src="assets/images/logoo.png" alt=""></a>

			<ul class="nav navbar-nav pull-right visible-xs-block">
				<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
			</ul>
		</div>

		<div class="navbar-collapse collapse" id="navbar-mobile">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="https://www.facebook.com/kid.learning.hcmus" target="_blank">
						<i class="icon-facebook2"></i> <span class="visible-xs-inline-block position-right"> Trang facebook</span>
					</a>
				</li>
				<li>
					<a data-popup="tooltip" data-toggle="modal" data-target="#confirm">
						<i class="icon-user-tie"></i> <span class="visible-xs-inline-block position-right"> Liên hệ admin</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- /main navbar -->


	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Content area -->
				<div class="content">
					<!-- Advanced login -->
					<form action="" method="POST" enctype="application/x-www-form-urlencoded">
						<div class="panel panel-body login-form">
							<div class="text-center">
								<div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
								<h5 class="content-group">Đăng nhập <small class="display-block">Đăng nhập vào tài khoản của bạn</small></h5>
							</div>

							<div class="form-group has-feedback has-feedback-left">
								<input type="text" class="form-control" name="username" placeholder="Tên đăng nhập">
								<div class="form-control-feedback">
									<i class="icon-user text-muted"></i>
								</div>
							</div>

							<div class="form-group has-feedback has-feedback-left">
								<input type="password" class="form-control" name="password" placeholder="Mật khẩu">
								<div class="form-control-feedback">
									<i class="icon-lock2 text-muted"></i>
								</div>
							</div>

							<div class="form-group login-options">
								<div class="row">
									<div class="col-sm-6">
<!-- 										<label class="checkbox-inline">
											<input type="checkbox" class="styled" checked="checked">
											Remember
										</label>
 -->									</div>

									<div class="col-sm-6 text-right">
										<a href="quenmatkhau">Quên mật khẩu?</a>
									</div>
								</div>
							</div>
							
							<div class="form-group">
								<button type="submit" class="btn bg-blue btn-block">Đăng nhập <i class="icon-arrow-right14 position-right"></i></button>
							</div>

 							<div class="content-divider text-muted form-group"><span>hoặc Đăng nhập bằng</span></div>
							<ul class="list-inline form-group list-inline-condensed text-center">
								<li><a href="/auth/fb" class="btn border-indigo text-indigo btn-flat btn-icon btn-rounded"><i class="icon-facebook"></i></a></li>
								<li><a href="/auth/tw" class="btn border-info text-info btn-flat btn-icon btn-rounded"><i class="icon-twitter"></i></a></li>
								<li><a href="/auth/gg" class="btn border-danger-400 text-danger-400 btn-flat btn-icon btn-rounded"><i class="icon-google-plus2"></i></a></li>
							</ul>
							
							<div class="content-divider text-muted form-group"><span>Chưa có tài khoản?</span></div>
							<a href="dangky" class="btn btn-default btn-block bg-success content-group">Đăng ký mới</a>
							<!-- <span class="help-block text-center no-margin">By continuing, you're confirming that you've read our <a href="#">Terms &amp; Conditions</a> and <a href="#">Cookie Policy</a></span> -->
						</div>
					</form>
					<!-- /advanced login -->


					<!-- Footer -->
					<!-- <div class="footer text-muted text-center">
						&copy; 2015. <a href="#">Limitless Web App Kit</a> by <a href="http://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a>
					</div> -->
					<!-- /footer -->

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->
			<!-- {/* confirm */} -->
		<div id="confirm" class="modal fade">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close " data-dismiss="modal">&times;</button>
						<h6 class="modal-title">Liên hệ với chúng tôi</h6>
					</div>

					<div class="modal-body">
						<div  class="panel-body">
							<div class="row">
								<div class="col-lg-6">
									<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3771.5589691242003!2d106.68039831027157!3d10.763143934428191!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x43900f1d4539a3d!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBLaG9hIGjhu41jIFThu7Egbmhpw6puIFRQSENN!5e0!3m2!1svi!2s!4v1498100090396" width="400" height="400" frameBorder="0" style={{border:"0"}} allowFullScreen></iframe>
								</div>
								<div class="col-lg-6">
									<div class="media-body">
										<h6 class="media-heading"><a href="http://www.hcmus.edu.vn" target="_blank">Trường Đại Học Khoa Học Tự Nhiên Thành Phố Hồ Chí Minh</a></h6>
			                    		<br/>
			                    		<ul class="list-inline list-inline-separate mb-5">
			                    			<li><i class="icon-location4 position-left"></i> 227 Nguyễn Văn Cừ, Nguyễn Văn Cừ, Quận 5, Hồ Chí Minh, Việt Nam</li>
			                    			<li><i class="icon-mail5 position-left"></i> minhthien1995@gmail.com - thanhgiang.hcmus@gmail.com</li>
			                    			<li><i class="icon-phone2 position-left"></i> +84 167 965 1768 (Thiện) - +84 937 245 440 (Giang)</li>
			                    			<li><a href="https://www.facebook.com/kid.learning.hcmus" target="_blank"><i class=" icon-facebook2 position-left"></i> Fanpage Facebook</a></li>
			                    		</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- {/* /confirm */} -->
	<script type="text/javascript">


		// $.post("dangnhap",function(data){
		// 	console.log(" sai đăng nhâp ");
		// 	//alert("dan nhap sai");
		// })
	</script>
</body>
</html>
